<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.japanego.mapper.QuizMapper">

    <select id="getWordList" resultType="WordVo">
        SELECT * FROM (SELECT WORD.NO, WORD, HURIGANA, OKURIGANA, YOMIGANA, MEAN, GRADE
        FROM WORD, MEMBER_WORD_RELATION
        WHERE WORD.NO = MEMBER_WORD_RELATION.WORD_NO
        AND MEMBER_NO = #{memberNo}
        ORDER BY DBMS_RANDOM.VALUE)
        WHERE ROWNUM BETWEEN 1 AND 10
    </select>

</mapper>