<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.japanego.mapper.WordMapper">

    <select id="getRandomWord" resultType="WordVo">
        <![CDATA[
            SELECT *
            FROM ( SELECT *
                   FROM WORD
                   WHERE GRADE = #{grade}
                   ORDER BY DBMS_RANDOM.VALUE )
            WHERE ROWNUM <= #{num}
        ]]>
    </select>

    <select id="getWordList" resultType="WordVo">
       <![CDATA[
        SELECT *
        FROM (SELECT *
              FROM word
              WHERE yomigana LIKE '%'||#{map.yomigana}||'%'
                 OR hurigana LIKE '%'||#{map.hurigana}||'%'
                 OR okurigana LIKE '%'||#{map.okurigana}||'%'
                 OR WORD LIKE '%'||#{map.word}||'%')
        WHERE ROWNUM BETWEEN 1 AND 3 ORDER BY NO;
        ]]>
    </select>

    <select id="getAllWordCount" resultType="int">
       <![CDATA[
        SELECT count(*)
        FROM WORD
        ]]>
    </select>

</mapper>