<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.japanego.mapper.WordMapper">

    <select id="getRandomWord" resultType="WordVo">
        <![CDATA[
            SELECT *
            FROM ( SELECT *
                   FROM WORD
                   WHERE GRADE = #{grade}
                   ORDER BY DBMS_RANDOM.VALUE )
            WHERE ROWNUM <= #{num}
        ]]>
    </select>

    <select id="getWordList" resultType="WordVo">
       <![CDATA[
        SELECT *
        FROM ( SELECT *
               FROM WORD
               WHERE NO BETWEEN #{startNo} AND #{endNo}
               ORDER BY NO )
        ]]>
    </select>

    <select id="getAllWordCount" resultType="int">
       <![CDATA[
        SELECT count(*)
        FROM WORD
        ]]>
    </select>

</mapper>